
:root {
    --dark-bg: #242424;
    --darker-bg:#000;
    --gray-bg: #575757;
    --light-text: #e2e2e2;
    --dark-text: #242424;
    --highlight: #ff5100;
}

.icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

body {
    background-color: var(--dark-bg);
    font-size: calc((.9 - 1) * 1.2vw + 1rem);
}

/* header section */
.header {
    background-color: var(--dark-bg);
    font-family: 'Mukta', sans-serif;
    line-height: 1;
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    padding-right: 4vw;
    width: 100%;
}

.nav-wrapper {
    padding-top: 1.3vw;
}

.header-nav-item a {
    color: var(--light-text);
    margin-right: 1.5vw;
    font-size: calc((.9 - 1) * 1vw + 1.3rem);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav-item a:hover {
    color: var(--highlight);
}

.header-logo {
    text-align: center;
}

.logo {
    max-height: 100px;
    max-width: 100px;
}

.header-social-nav {
    margin-top: 0.5vw;
}

.header-social-nav a {
    color: var(--light-text);
    margin-left: 2vw;
}

.header-social-nav a:hover {
    color: var(--highlight);
}

/* main */

/* section 1 */

.large-logo-sec {
    background-image: url(../media/ep-art1.jpg);
    background-attachment:scroll;
    width: 100%;
}

.exit-logo {
    /* position: absolute; */
    margin-top: 10.5vw;
    margin-bottom: 10.5vw;
    width: 40vw;
}

/* section 2 */
.short-desc-sec {
    background-image: 
    linear-gradient(#2a78dd, #ff6600),
    url(../media/ep-art2.jpg);
    background-blend-mode: difference;
    background-attachment: fixed;
    color: var(--light-text);
    text-align: center;
    height: 70vh;
    width: 100%vw;
}

.short-desc-wrapper {
    padding-top: 25vh;
    padding-bottom: 25vh;
}

/* section 3 */
.us-sec {
    color: var(--light-text);
    height: 70vh;
    text-align: center;
}

.ph1 {
    background-color: var(--darker-bg);
    padding-top: 25vh;
    padding-bottom: 25vh; 
}

/* section 3 */
.join-up-sec {
    color: var(--light-text);
}